<mat-card id="numericTile" fxLayout="column">
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-subtitle *ngIf="description">{{ description }}</mat-card-subtitle>
  <mat-card-content fxFlex>
    <div class="textfitContainer">
      <div
        class="numericValue"
        [style.color]="color"
        fittext
        activateOnResize
        compression="{{ compression }}"
        maxFontSize="150"
      >
        {{ numericValue }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
